html {
  height: 100%;
}

* {
  color: white;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  padding: 0;
  height: calc(100% - 20px);
  border: 10px solid red;
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
